body {
    color: #050202;
    background-color: #4073D0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
    font-size: 150%;
}

#optitle {
    font-size: 120%;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    justify-content: space-around;
}

#optitle1 {
    align-items: center;
    text-align: center;
    width: 300px;
    height: 40%;
}

#optitle2 {
    align-items: center;
    text-align: center;
    width: 300px;
    height: 40%;
}

#operand {
    font-size: 120%;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    justify-content: space-around;
    align-content: center;
}

#operand1 {
    align-content: center;
    text-align: center;
    width: 300px;
    border: 300px 40px;
    border-color: #0F151F;
    border-style: solid;
    background-color: #FFFBFA;
}

#operand2 {
    align-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    border: 300px 40px;
    border-color: #0F151F;
    border-style: solid;
    background-color: #FFFBFA;
}

#addgroup {
    font-size: 120%;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-content: center;
}

#addition1 {
    align-content: center;
    text-align: center;
    width: 300px;
    border: 300px 40px;
    border-color: #0F151F;
    border-style: solid;
    background-color: #FFFBFA;
}

#addition2 {
    align-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
}

#subgroup {
    font-size: 120%;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-content: center;
}

#subtraction1 {
    align-content: center;
    text-align: center;
    width: 300px;
    border: 300px 40px;
    border-color: #0F151F;
    border-style: solid;
    background-color: #FFFBFA;
}

#subtraction2 {
    align-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
}

#multigroup {
    font-size: 120%;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-content: center;
}

#multiplication1 {
    align-content: center;
    text-align: center;
    width: 300px;
    border: 300px 40px;
    border-color: #0F151F;
    border-style: solid;
    background-color: #FFFBFA;
}

#multiplication2 {
    align-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
}

#divgroup {
    font-size: 120%;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-content: center;
}

#division1 {
    align-content: center;
    text-align: center;
    width: 300px;
    border: 300px 40px;
    border-color: #0F151F;
    border-style: solid;
    background-color: #FFFBFA;
}

#division2 {
    align-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
}

#modgroup {
    font-size: 120%;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-content: center;
}

#modulus1 {
    align-content: center;
    text-align: center;
    width: 300px;
    border: 300px 40px;
    border-color: #0F151F;
    border-style: solid;
    background-color: #FFFBFA;
}

#modulus2 {
    align-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
}