h1, h2, h4 {
    text-align: center;
}

#submit2 {
    align-self: center;
}

#quizQuestion {
    display: block;
    background-color: darkgray;
    border: 10px;
    border-style: solid;
    border-color: darkgreen;
}

#quizResults1 {
    display: block;
    background-color: darkgray;
    border: 10px;
    border-style: solid;
    border-color: darkgreen;
}

